<nav th:fragment="firstNav" class="navbar admin-navbar">
  <div class="container navbar-underline-border">
    <a th:href="@{/admin/adminpanel}" class="navbar-brand brand" href="#">Litum Admin Panel</a>

    <div class="dropdown dropstart">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-regular fa-user" style="color: #ffffff;"></i>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item vendor-btns-underline" th:href="@{/profile/account-details}">
          Profile
        </a></li>
        <li><a class="dropdown-item vendor-btns-underline" href="/">Close panel</a></li>
      </ul>
    </div>
  </div>
</nav>