
.admin-navbar{
    background:#161616;
}

.navbar-underline-border{
    border-bottom: 5px solid #CB321A;
}

.brand{
    color: white;
}

.brand:hover{
    color: white;
}

.container-sidebar-button-admin{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 0;
    border-bottom: 3px solid #d80e0e00;
}

.th-action{
    justify-content: center;
    align-items: center;
    width: 150px;
}
.page-title{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.adminpanel-category-buttons{
    margin-bottom: 15px;
}
.admin-btns-underline{
    border-radius: 0;
}
.admin-btns-underline:hover{
    border-radius: 0;
    border-bottom: 2px solid #CB321A;
}


#sidebar-nav {
    width: 160px;
}

.searchfar{
    display: flex;
    width: 1400px;
    height: 44px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #CB321A;
    background-color: #27272700;
    color: white;
    margin-bottom: 10px

}

.searchfar::placeholder {
    color: white
}

.searchfar:hover{
    width: 1400px;
    height: 44px;
    top: 1925px;
    left: 380px;
    border: none;
    border-bottom: 2px solid #CB321A;
    background-color: #27272700;
    color: white;
    background: linear-gradient(#27272700, 96%, #CB321A);


}

.searchfar:focus{
    outline: none;
    width: 1400px;
    height: 44px;
    top: 1925px;
    left: 380px;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #CB321A;
    background-color: #27272700;
    color: white;
    background: linear-gradient(#27272700, 96%, #CB321A);

}
.main-table-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.table-custom{
    width: 100%;
}

.tr-custom{
    border-bottom: 2px solid #272727;

}

.td-photo{
    width: 10%;
}

.table-image {
    display:flex;
    width: 100%;
    height: 100px;
    object-fit: cover;

}

.admin-info-container{
    max-width: 1160px;
    margin: 0 auto;
}

.admin-info-col{

}
.admin-info-card {
    display: flex;
    max-width: 350px;
    border-radius: 0;
    border: 1px solid #cb321a00;
    border-bottom: 3px solid #CB321A;
    font-size: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.admin-card-text{
    display: flex;
    font-size: 42px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.admin-user-dropdowns {
    max-width: 200px;
    margin-right: 10px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #CB321A;
    background-color:#272727;
    color: white;
}

.admin-user-dropdowns:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;
}