


.container-carousel{
    max-width: 1170px;
    padding-bottom: 10px;
    height: 280px;
}


.carousel-wrap {
    margin: auto;
    margin-top: 30px;
    position: relative;
    display: flex !important;
}
.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0;
}

.owl-carousel .owl-stage {
    display: flex;
}
.owl-carousel .owl-item img {
    object-fit: cover;
    height: 280px; !important;
}




.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 120px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url(image/nav-icon.png) no-repeat scroll 0 0;

    left: -33px;
}
.owl-carousel .next-slide{
    background: url(image/nav-icon.png) no-repeat scroll -24px 0;
    right: -33px;
}
.owl-carousel .prev-slide:hover{
    background-position: 0 -53px;
}
.owl-carousel .next-slide:hover{
    background-position: -24px -53px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

.owl-carousel span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #757575 !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #CB321A !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.product-header{
    max-width: 1170px;
}

.product-header-title{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;

}


.product-header-price h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    background-color: #272727;
    border-bottom:3px solid #CB321A;
}
.product-header-category-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-header-category-info a{
    display: inline;
    border-radius:0;
}
.product-header-category-info a:hover{
    border-bottom:2px solid #CB321A
}

.product-header-author{
    display: flex;
    align-items: center;
    text-align: center;
}

.product-header-downloadfile-container{
    display: flex;
    text-align: center;
    justify-content: end;

}
.product-header-bybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 0;
    border-bottom:3px solid #cb321a;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    background-color: #27272700;
    color: #F1F1F1;

}
.product-header-bybutton a{
    color: #F1F1F1;
}
.product-header-bybutton:hover{
    border-bottom:3px solid #CB321A;
    background: linear-gradient(#27272700, 93%, #CB321A);
    transition: all .3s ease-out;
}

.product-header-bybutton a:hover{
    border: none;

}

.product-header-bybutton:active{
    background-color: #272727
}

.product-header-shortinfo{
    margin-top: 10px;
    max-width: 700px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    border-bottom:1px solid #CB321A;
}

.main-product-navigation{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-product-navigation a{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 0;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid #272727;
    margin-left: 10px;
}

.main-product-navigation a:hover{
    background: linear-gradient(#851c1c00, 10%, #272727);
    border-bottom: 3px solid #CB321A;
    margin-left: 10px;
    transition: all .3s ease-out;
}

.main-product-navigation a:focus{
    background: linear-gradient(#851c1c00, 10%, #272727);
    border-bottom: 3px solid #CB321A;


}

.details-container{
    margin: 0 auto;
    max-width: 1170px;
}



.product-details-count-downloads{
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.product-details-count-views{
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.product-details-data{
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.version-date{
    font-size: 12px;
    font-weight: 100;
    color: white;
}

.product-details{
    padding: 10px;
}
.description img{
    max-width: 95%;
    object-fit: cover;
}
.name-date-space{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.add-new-comment{
    margin: 10px auto 20px;
}
.reply-parent-comment-text{
    color: #a8a8a8;
    max-width: 90%;
    background-color: #272727;
    font-size: 16px;
}
.comment-reply-button{
    background-color: transparent;
    border: 1px solid rgba(203, 50, 26, 0);
    color: white;

}

.comment-reply-button:hover{
    border: 1px solid rgba(203, 50, 26, 0);
    border-bottom: 1px solid #CB321A;
}
.comment-textarea {
    margin-top: 10px;
    border-radius: 0;
    border: 2px solid #272727;
    margin-bottom: 10px;
}

.comment-textarea:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid #CB321A;

}
.comment-user-name{
    color:#c6c6c6;
}
.comment-action{
    justify-content:  space-between;
    align-items: center;
}

.delete-button-container{
    display: flex;
justify-content: end;
}


.delete-button {
    border-radius: 0;
    display: flex;
    position: relative;
    max-width: 100px;
    height: 36px;
    background-color: transparent;
    border: 2px solid #00000000;
    border-bottom: 2px solid #272727;
    color: white;
    justify-content: center;
    align-items: center;
}

.delete-button:hover {
    border-bottom: 2px solid #CB321A;
}

.delete-button:active {
    border: 0;
    background-color: #272727;
}


@media screen and (max-width: 991px) {
    .container-carousel{
        height: 380px;
    }

    .owl-carousel .prev-slide{
        display: none;
    }
    .owl-carousel .next-slide{
        display: none;
    }

    .owl-carousel .owl-item img {
        object-fit: cover;
        height: 380px; !important;
    }

}