
body {
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    background-color: #161616;
}

p{
    color: white;
}

hr{
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    color: white;
}
/*th, td{*/
/*    color: white;*/
/*}*/

.navbar {
    border-bottom: 2px solid #27272761;
}

.navbar-toggler{
    color: #ffffff00;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logout-button {
    border: 0;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: -5px;
}

.navbar-collapse {
    transition: all .3s ease;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.headerup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto;

}

.img-modal {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-personal-body {
    background-color: rgba(241, 241, 241, 0);

}

.headerdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto;

}

.pagelink {
    padding-bottom: 2px;
    border-bottom: 2px solid #272727;
}


.pagelink:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #CB321A;
}


.social {

    margin: 0 auto;
    /* margin-top: -8px; */
    /* margin-right: -7px;  */
}

.social:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #CB321A;
}

.logoBig {
    border-right: 1px solid #272727;
    width: 213px;
    height: 55px;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0;
    text-align: left;
    margin-right: 10px;
}


.rust {
    display: flex;
    width: 77px;
    height: 92px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0;
    text-align: center;
    margin-top: -9px;
    margin-bottom: -8px;
    padding-bottom: 3px;
}

.rust:hover {
    background: linear-gradient(transparent, #272727);
    border-bottom: 5px solid #CB321A;
    padding-top: 14px;
    transition: all .1s ease-out;
}

.unturned {
    display: flex;
    width: 114px;
    height: 92px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0;
    text-align: center;
    margin-top: -9px;
    margin-bottom: -9px;
    padding-bottom: 3px;
}

.unturned:hover {
    background: linear-gradient(transparent, #272727);
    border-bottom: 5px solid #CB321A;
    padding-top: 14px;
    transition: all .1s ease-out;
}

/*.searchfar-small-collapse{*/
/*    display: none;*/
/*}*/

.searchfar {
    width: 220px;
    height: 44px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #CB321A;
    background-color: #27272700;
    color: white;
}

.searchfar::placeholder {
    color: white
}

.searchfar:hover {
    width: 220px;
    height: 44px;
    top: 1925px;
    left: 380px;
    border: none;
    border-bottom: 2px solid #CB321A;
    background: linear-gradient(rgba(203, 50, 26, 0), 90%, rgba(203, 50, 26, 0.29));
    color: white;
}

.searchfar:focus {
    outline: none;
    width: 220px;
    height: 44px;
    top: 1925px;
    left: 380px;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #CB321A;
    background: linear-gradient(rgba(203, 50, 26, 0), 90%, rgba(203, 50, 26, 0.29));
    color: white;
}


.submitfile {
    width: 149px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    top: 24px;
    left: 1058px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 0;
    border-bottom:3px solid #cb321a;
    text-decoration: none;
    background-color: #27272700;
    color: #F1F1F1;
}

.submitfile:hover {
    border-bottom:3px solid #CB321A;
    background: linear-gradient(#27272700, 93%, #CB321A);
    transition: all .3s ease-out;
}

.submitfile:active{
    background-color: #272727
}

.user-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(39, 39, 39);
    width: 80px;
    height: 44px;
    top: 24px;
    left: 1447px;
    margin-left: 10px
}

.user-login:hover {
    border-bottom: 2px solid #CB321A;
}

.user-login:active {
    background-color: #272727
}


.usericon  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid #272727;
    width: 44px;
    height: 44px;
    top: 24px;
    left: 1447px;
    margin-left: 10px;
}

.usericon:hover {
    border-bottom:3px solid #CB321A;
    padding-bottom: 7px;
    background: linear-gradient(#27272700, 95%, #CB321A);
    transition: all .1s ease-out;
}

.usericon:active {
    background: #272727;
}

.usericon-dropdown_menu {
    border: none;
    background-color: #272727;
}

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid #272727;
    width: 44px;
    height: 44px;
    top: 24px;
    margin-left: 10px;
}

.like:hover {
    border-bottom:3px solid #CB321A;
    padding-bottom: 7px;
    background: linear-gradient(#27272700, 95%, #CB321A);
    transition: all .1s ease-out;
}

.like:active {
    background: #272727;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 40px 0;
}

.carousel-inner img {
    object-fit: cover;
    height: 475px;


}

.carousel-indicators {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10%);
    left: 8px;

}

.carousel-indicators button.active {
    width: 14px;
    height: 14px;
    background-color: #b41a1a;
    border: none;
    margin-right: 8px;
}

.carousel-indicators button:not(.active) {
    margin-top: -1px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 1px solid #757575;
    margin-right: 8px;
}


.carousel-control-prev {
    opacity: 100;
}

.carousel-control-next {
    opacity: 100;
}

.carousel-item {
    transition: transform 0.3s ease-out, opacity 1s ease-out;

}

.carousel-item img:hover {

    transform: scale(1.01);
    /* object-fit: cover; */
}


.carousel-caption {
    padding: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}


.carouselprice {
    top: 10px;
    bottom: 400px;
    left: 25px;
    right: 980px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    /* padding-right: 950px; */
    padding-top: 1px;
    text-align: left;
}


.dividingline {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 41px;
    border-bottom: 1px solid #5c5c5c1a;
}


.mostpopular {
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    max-width: 1170px;
    padding: 0;
}


.mostpopulartitle {

    font-size: 38px;
    font-weight: 700;
    text-align: left;
    align-items: start;
    justify-content: start;
    margin-bottom: 0;

}


.row {
    max-width: 1195px;
    margin: 0 auto;
}

.col {
    margin: 0 auto;
    height: 380px;

}

.col:hover {
    background: linear-gradient(rgba(203, 50, 26, 0), 95%, rgba(203, 50, 26, 0.29));
    border-bottom: 5px solid #CB321A;
    transition: all .1s cubic-bezier(0.18, 0.97, 0.5, 1.01);
}


.card {
    border: none;
    border-radius: 0;
    display: flex;
    max-height: 365px;
    margin: 0 auto;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0);
    color: #fff;

}

/* .card:hover{
background: #DFDFDF;



} */

.card-count-of-downloads {

    margin: 5px;
    position: absolute;
    color: #F1F1F1;
}

.card-img-top {
    border-radius: 0;
    /* max-height: 210px;
    max-width: 210px; */

    object-fit: cover;
    height: 210px;
}

.card-body {

    position: relative;

}

.card-title {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 210px;
    margin-left: -16px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    color: #ffffff;
}

.card-game-type {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 210px;
    margin-left: -16px;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    color: #ffffff;
}

.card-by {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
    max-width: 150px;
    margin-left: -15px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;;

}

.vendorname {
    text-decoration: none;
    color: #CB321A;
}

.buypanel {
    display: flex;
    position: absolute;
    margin: 0 auto;
    margin-left: -15px;
}

.text-price {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left;
    margin-left: -12px;
    font-size: 24px;
    font-weight: 500;
    max-width: 100px;
    overflow: hidden;
}

/* .bycolumn{
    align-items: center;
justify-content: center;
    display:  contents;
    width: 36px;
height: 36px;

} */

.buybutton {
    border-radius: 0;
    display: flex;
    position: relative;
    width: 36px;
    height: 36px;
    border-bottom: 2px solid #272727;
    align-items: center;
    justify-content: center;
    margin-right: -12px;
}

.buybutton:hover {
    border-bottom: 2px solid #CB321A;

}

.buybutton:active {
    border: 0;
    background-color: #272727;
}

.showmorebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #CB321A
}

.showmorebutton:hover {
    border: 3px solid #CB321A
}

.showmorebutton:active {
    background: #F1F1F1;
    border: 3px solid #CB321A
}


.containerpagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Убрать рамку */
    border-radius: 0;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 214px;
    margin-bottom: 40px;
}

/*.page-link.active{*/
/*    background-color: #CB321A;*/
/*}*/

.active > .page-link, .page-link.active {
    color: white;
    border-bottom: 2px solid #CB321A;
    background-color: rgba(255, 255, 255, 0);
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    border: none; /* Убрать рамку */
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.pagination a:hover {
    color: white;
    /*margin-top: 1px;*/
    border-bottom: 2px solid #CB321A;
}

.aboutustext {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}


.submitfileform {
    height: auto;
    max-width: 1170px; /* Максимальная ширина */
    margin: 0 auto;
}

.submitfile-row {
    border-radius: 0;
    color: white;
}

.submitfile-row input {
    background-color: #2c2c2c;
    border-bottom: 2px solid #CB321A;
    color: white;
}


.submitfile-row input:focus {
    background: linear-gradient(rgba(203, 50, 26, 0), 95%, rgb(203 50 26 / 90%));
    background-color: #2c2c2c;
    color: white;

}

.submitfile-textaria {
    border-radius: 0;
    color: white;
}
.submitfile-textaria textarea {
    background-color: #272727;
    border-bottom: 2px solid #CB321A;
    color: white;

}
.submitfile-textaria textarea:focus {
    background-color: #272727;
    color: white;
}
.submitfile-title {
    max-width: 500px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727;
}

.submitfile-title:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;
}

.submitfile-version {
    max-width: 100px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727 ;
    background-color: #272727 !important;
}


.submitfile-version-comment {
    margin-top: 10px;
    border-radius: 0;
    border: 2px solid #c9c9c9;
}

.submitfile-version-comment:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid #CB321A;
}

.submitfile-titleimage {
    max-width: 500px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727;

}

.submitfile-titleimage:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;

}

.submitfile-price {
    max-width: 100px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727;
    background-color: #272727 !important;
}

.submitfile-price:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;
}

.submitfile-shortInfo {
    margin-top: 10px;
    border-radius: 0;
    border: 2px solid #272727;
}

.submitfile-shortInfo:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid #CB321A;

}

.submitfile-description {
    margin-top: 10px;
    border-radius: 0;
    border: 0;
    background-color: #272727;
    color: white;

}
.ql-container.ql-snow {
    border: 0 !important;
    border-bottom: 2px solid #CB321A !important;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill
{ fill: #fff !important;}

.ql-snow .ql-stroke {
    stroke: #ffffff !important;
}

.ql-snow .ql-picker {
    color: #ffffff !important;
}

.ql-snow .ql-picker-options {
    background-color: #323232 !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #CB321A !important;
}


.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-color: #CB321A !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #CB321A  !important;
}

.ql-container {
    min-height:200px !important;
}

.ql-toolbar.ql-snow {
    border: 0 !important;
    border-bottom: 2px solid #CB321A !important;
}

.ql-editor.ql-blank::before {
    color: white !important;
}

.submitfile-license {
    margin-top: 10px;
    border-radius: 0;
    border: 2px solid #272727;
}

.submitfile-license:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid #CB321A;
}

.submitfile-dropdownsbox {
    display: flex;
    position: relative;
    margin-top: 30px;
}

.submitfile-dropdowns {
    max-width: 200px;
    margin-right: 10px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #CB321A;
    background-color:#272727;
    color: white;
}

.submitfile-dropdowns:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;
}

.photo-link-row {
    max-width: 500px;
    color: white;
    display: flex;
    position: relative;

}

.photo-link-input {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727;
    background-color: #272727;
    border-bottom: 2px solid #CB321A;
    color: white;
}

.photo-link-input:focus {
    outline: none;
    box-shadow: none;
    color: white;
    border-bottom: 2px solid #CB321A;
    background: linear-gradient(rgba(203, 50, 26, 0), 95%, rgb(203 50 26 / 90%));
    background-color: #272727;
}

.submitfile-one-more-link-button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #272727;
    color: white;
}

.submitfile-one-more-link-button:hover {
    border-bottom: 2px solid #CB321A;
}

.photo-link-close-button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.photo-link-close-button:hover {

    border-bottom: 2px solid #CB321A;
}

.video-link-row {
    margin-top: 20px;
    display: flex;
    position: relative;
    max-width: 700px;
    color: white;
    background-color: transparent;
}

.video-link-row input{
    background-color: #272727;
    border-bottom: 2px solid #CB321A;
}

.video-link-row input:focus{
    background: linear-gradient(rgba(203, 50, 26, 0), 95%, rgb(203 50 26 / 90%));

    background-color: #272727;
    border-bottom: 2px solid #CB321A;
}

.video-add-instruction {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
}

.submitfile-video-link {
    border-radius: 0;
    border: 0;
    color: white;
    border-bottom: 2px solid #c9c9c9;
}

.submitfile-video-link:focus {
    outline: none;
    color: white;
    box-shadow: none;
    border-bottom: 2px solid #CB321A;
}

.form-control {
    border: 0;
    border-radius: 0;
    color: #ffffff;
    border-bottom: 2px solid #CB321A;
    background-color: #272727
}

.form-control:active {
    border: 0;
    border-radius: 0;
    color: #ffffff;
    border-bottom: 2px solid #CB321A;
    background-color: #272727
}

.form-control:focus {
    border: 0;
    border-radius: 0;
    color: #ffffff;
    border-bottom: 2px solid #CB321A;
    background: linear-gradient(#27272700, 93%, #CB321A);
    background-color: #272727
}
.submitfile-submit-button-container {
    display: flex;
    position: relative;

}




.submitfile-submit-button {
    margin: 0 auto;
    border-radius: 0;
    border: 0;
    border-bottom:3px solid #cb321a;
    text-decoration: none;
    background-color: #27272700;
    color: #F1F1F1;
    width: 150px;
    height: 40px;
}

.submitfile-submit-button:hover {
    border-bottom:3px solid #CB321A;
    background: linear-gradient(#27272700, 93%, #CB321A);
    transition: all .3s ease-out;
}

.loginheader {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}

.loginheader img {
    margin-top: 60px;
    width: 250px;
    height: auto;
}


.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;


}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #d04f3b;
    border-radius: 0;
    width: 420px;
    height: 80px;
    margin-top: 200px;
    background-color: rgba(241, 241, 241, 0.8);
    font-size: 32px;
    text-decoration: none;
    color: black;
}


/*.googlebuttonname{*/
/*    font-size: 32px;*/

/*}*/

.login-buttons img {
    width: 40px;
    height: auto;
}

.login-buttons:hover {
    background: #DFDFDF;
    border-left: 5px solid #CB321A;
    /*border-left: 6px solid #CB321A;*/
    /*margin-left: -3px;*/
}



.dropdown-menu {
    border-radius: 0;
    background-color: #272727;
}

.dropdown-item {
    color:white;
    font-size: 18px;
    border-bottom: 2px solid #3a3a3a00;
    border-radius: 0;

}

.dropdown-item img {
    width: 20px;
    height: auto;
}

.dropdown-item:hover {
    color:white;
    background: #272727;
    border-bottom: 2px solid #CB321A;


}


.submitNewsform {
    max-width: 1170px;
    margin: 0 auto;
}

.news-section {

    margin-top: 50px;

}

.newscontainer {
    max-width: 1070px;
    border-radius: 0;
    margin-bottom: 10px;
    border-bottom: 5px solid #757575;
    margin-top: 20px;
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: 100;
}

.newscontainer:hover {
    background: linear-gradient(#27272700,60%, #272727);
    border-bottom: 5px solid #CB321A;
}

.read-more-button {
    background-color: rgba(208, 50, 25, 0);
    border-radius: 0;
    color: white;
    border: 0;
}

.news-about {
    color: #F1F1F1;
    margin: 5px;
    position: absolute;
    background-color: rgb(208, 50, 25, 0.5);
}


.card-title-news {
    max-width: 700px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
}

.short-text-news {
    font-size: 18px;
    font-weight: 300;
}


.particularnewscontainer {
    margin: 0 auto;
    /*max-height: 659px;*/
    max-width: 1160px;
    /*object-fit: cover;*/
}

.particularnewscontainer img {
    display: block;
    width: 75%;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}

.particular-title-news {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 400;
    border-bottom: 1px solid #CB321A;
}

.policy {

}

.htmx-indicator {
    display: none;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 50%; /* Положение относительно верхнего края */
    left: 50%; /* Положение относительно левого края */
    transform: translate(-50%, -50%); /* Центрирование по центру экрана */
    width: 100%; /* Ширина контейнера, уменьшенная по сравнению с 100% */
    height: 100%; /* Высота контейнера, уменьшенная по сравнению с 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}


.searchresul {
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    max-width: 1170px;
    padding: 0;
}

.searchresulttitle {

    font-size: 38px;
    font-weight: 700;
    text-align: left;
    align-items: start;
    justify-content: start;
    margin-bottom: 0;
}


.headergame {
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    max-width: 1170px;
    padding: 0;
}


.headergametitle {

    font-size: 38px;
    font-weight: 700;
    text-align: left;
    align-items: start;
    justify-content: start;
    margin-bottom: 0;

}

.container-sidebar-button {
    max-width: 1170px;

}

.offcanvas-start {
    transition: all 0.5s;
    background-color:#272727

}

.filterbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border: 0;
    border-bottom: 2px solid #CB321A;
    color: white;
    background-color: #27272700;
}

.filterbutton:hover {
    border-bottom: 2px solid #CB321A;
    background: linear-gradient(#27272700, 90%, #CB321A);
}

.sidebar-body-button {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid #747474;
}

hr{
    color: white;
}

.sidebar-body-button:hover {
    border-bottom: 2px solid #CB321A;

}

@media screen and (max-width: 991px) {
    .links-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-nav {
        list-style: none; /* Убираем маркеры списка */
        margin: 0 auto; /* Убираем внешние отступы списка (по желанию) */
        /*padding: 0; !* Убираем внутренние отступы списка (по желанию) *!*/
        display: flex; /* Располагать элементы горизонтально */
        align-items: center; /* Выравнивание элементов по центру по вертикали */
        flex-direction: row;
    }

    .social {

        margin-left: 10px;
        /* margin-top: -8px; */
        /* margin-right: -7px;  */
    }

    .game-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pagelink {
        padding-bottom: 2px;
        border-bottom: 2px solid #272727;
        flex-direction: column;
        align-items: center;
    }

    .pagelink:hover {
        /* background: #adadad; */
        padding-bottom: 2px;
        border-bottom: 2px solid #CB321A;
    }

    .logoBig {
        display: none;
    }

    .logoSmall {
        display: flex;
        width: 213px;
        height: 55px;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        margin-bottom: -10px;

    }

    .rust {
        display: flex;
        width: 77px;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 5px solid rgba(203, 50, 26, 0);
    }

    .rust:hover {
        padding-top: 7px;
        border-bottom: 5px solid #CB321A;
    }

    .unturned {
        display: flex;
        width: 114px;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0;
        text-align: center;
        border-bottom: 5px solid rgba(255, 255, 255, 0);
        margin-bottom: 10px;
    }

    .unturned:hover {
        padding-top: 7px;
        border-bottom: 5px solid #CB321A;
    }


    .searchfar {
        width: 220px;
        height: 44px;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #CB321A;
        background-color: #27272700;
        color: white;
    }



    .user-login {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgb(39, 39, 39);
        width: 80px;
        height: 44px;
        top: 24px;
        margin-left: -3px;
    }

    .usericon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-bottom: 2px solid #272727;
        width: 44px;
        height: 44px;
        top: 24px;
        margin-left: -3px;
        margin-bottom: 10px;
    }

    .like {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-bottom: 2px solid #272727;
        width: 44px;
        height: 44px;
        top: 24px;
        margin-left: -3px;
    }




}