<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitumDesign - login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" data-th-href="@{style.css}">
</head>
<body style=" background-size: cover;  background-repeat: no-repeat; background-attachment: fixed; background-image: url('/image/loginbackground.jpg')">
<a class="loginheader display-1 " th:href="@{/}">
    <img data-th-src="@{/image/logo-LitumDesign.svg}">
</a>
</br>

<div class="container-buttons">
    <a class="login-buttons" data-th-href="@{/oauth2/authorization/google}">
        <img data-th-src="@{/image/googlelogo.svg}"> &nbsp;|&nbsp; Log in with Google
        </a>
    </div>
</div>
</body>
</html>