<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>LitumDesign</title>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" type="text/css" data-th-href="@{style.css}">-->
<!--</head>-->
<!--<body>-->
<div id="allgoods" th:fragment="firstDiv" th:with="allProducts=${allProducts}">

    <div th:if="${allProducts.isEmpty()}">
        <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">Nothing found...</div>
    </div>

    <div th:unless="${allProducts.isEmpty()}">
        <!--    PAGINATION-->
        <div th:unless="${allProducts.isEmpty()}" class="container containerpagination text-black ">
            <nav aria-label="Page navigation example">
                <ul class="pagination  pagination-sm justify-content-center ">

                    <li class="page-item asdasd" th:style="${allProducts.first ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${allProducts.number - 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"><</a>
                    </li>


                    <li class="page-item" th:each="page: ${#numbers.sequence(0, allProducts.getTotalPages()-1)}"
                        th:if="${allProducts.number} >= ${page - 3} and ${allProducts.number} <= ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"
                        th:classappend="${page} == ${allProducts.number} ? 'active'">
                        <a class="page-link" th:if="${allProducts.number} == ${page + 3} and ${page != 0}">...</a>
                        <a class="page-link"
                           th:if="${allProducts.number} > ${page - 3} and ${allProducts.number} < ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${page})}"
                           th:text="${page+1}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"
                        >1</a>
                        <a class="page-link"
                           th:if="${allProducts.number} == ${page - 3} and ${page} != ${allProducts.getTotalPages()-1}">...</a>
                    </li>

                    <li class="page-item " th:style="${allProducts.last ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${allProducts.number + 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click">></a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- ALL GOODS -->
        <div class="row  row-cols-2   row-cols-lg-5  row-cols-md-4   py-0">
            <div class="col " th:each="product : ${allProducts}">
                <a th:href="@{'/product/details/' + ${product.id}}">
                <div class="card  h-100 ">
                    <p class="card-count-of-downloads" th:utext="'<i class=\'fa-regular fa-circle-down\'></i>' + ${product.countOfDownloads} + ' ' + '<i class=\'fa-regular fa-eye\'></i>' + ${product.countOfView}"></p>
                    <img th:src="'https://drive.google.com/thumbnail?authuser=0&sz=w520&id='+${product.titleImageLink} + '&timestamp=' + ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"
                         class="card-img-top" alt="product images">
                    <div class="card-body ">
                        <h5 class="card-title text-truncate " th:text="${product.title}"></h5>
                        <p class="card-game-type text-truncate "
                           th:text="${product.gameType} + ' | ' + ${product.categories}"></p>
                        <p class="card-by text-truncate">By: <a th:href="@{/vendor-page/{vendorName}(vendorName=${product.uploadUserId.name})}" class="vendorname"
                                                                th:text="${product.uploadUserId.name}"></a></p>
                        <div class="container buypanel d-flex justify-content-between align-items-center ">
                            <div class="text-price">
                                <span th:if="${product.price == 0}">FREE</span>
                                <span th:if="${product.price != 0}" th:text="'$' + ${product.price}"></span>
                            </div>
<!--                            <a class="btn buybutton " aria-current="page" data-sec-authorize="isAuthenticated()"-->
<!--                               th:href="@{'/file/download-file/' + ${product.gdFileId}}"> <img-->
<!--                                    data-th-src="@{/image/img-download.svg}"></a>-->
<!--                            <a class="btn buybutton " aria-current="page" data-sec-authorize="!isAuthenticated()"-->
<!--                               th:href="@{/login}"> <img data-th-src="@{/image/logo-log-in.svg}"></a>-->
<!--                            <a class="btn buybutton " aria-current="page" th:href="@{'/file/download-file/' + ${product.id}}"> <img-->
<!--                                    data-th-src="@{/image/img-download.svg}"></a>-->
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <!--    PAGINATION-->
        <div class="container containerpagination text-black ">
            <nav aria-label="Page navigation example">
                <ul class="pagination  pagination-sm justify-content-center ">

                    <li class="page-item asdasd" th:style="${allProducts.first ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${allProducts.number - 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"><</a>
                    </li>


                    <li class="page-item" th:each="page: ${#numbers.sequence(0, allProducts.getTotalPages()-1)}"
                        th:if="${allProducts.number} >= ${page - 3} and ${allProducts.number} <= ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"
                        th:classappend="${page} == ${allProducts.number} ? 'active'">
                        <a class="page-link" th:if="${allProducts.number} == ${page + 3} and ${page != 0}">...</a>
                        <a class="page-link"
                           th:if="${allProducts.number} > ${page - 3} and ${allProducts.number} < ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${page})}"
                           th:text="${page+1}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"
                        >1</a>
                        <a class="page-link"
                           th:if="${allProducts.number} == ${page - 3} and ${page} != ${allProducts.getTotalPages()-1}">...</a>
                    </li>

                    <li class="page-item " th:style="${allProducts.last ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-post=@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${allProducts.number + 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click">></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!--&lt;!&ndash;    PAGINATION&ndash;&gt;-->
    <!--    <div class="container containerpagination text-black ">-->
    <!--        <nav aria-label="Page navigation example">-->
    <!--            <ul class="pagination  pagination-sm justify-content-center ">-->

    <!--                <li class="page-item asdasd" th:style="${allProducts.first ? 'display: none' : ''}">-->
    <!--                    <a class="page-link"-->
    <!--                       th:attr="hx-get=@{'products'(sort=${sortName}, page=${allProducts.number - 1})}"-->
    <!--                       hx-target="#allgoods"-->
    <!--                       hx-swap = "innerHTML"-->
    <!--                       hx-trigger="click"><</a>-->
    <!--                </li>-->


    <!--                <li class="page-item" th:each="page: ${#numbers.sequence(0, allProducts.getTotalPages()-1)}"-->
    <!--                    th:if="${allProducts.number} >= ${page - 3} and ${allProducts.number} <= ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"-->
    <!--                    th:classappend="${page} == ${allProducts.number} ? 'active'" >-->
    <!--                    <a class="page-link" th:if="${allProducts.number} == ${page + 3} and ${page != 0}">...</a>-->
    <!--                    <a class="page-link"-->
    <!--                       th:if="${allProducts.number} > ${page - 3} and ${allProducts.number} < ${page + 3} or ${page} == ${allProducts.getTotalPages()-1} or ${page} == 0"-->
    <!--                       th:attr="hx-get=@{'products'(sort=${sortName}, page=${page})}" th:text="${page+1}"-->
    <!--                       hx-target="#allgoods"-->
    <!--                       hx-swap = "innerHTML"-->
    <!--                       hx-trigger="click"-->
    <!--                    >1</a>-->
    <!--                    <a class="page-link" th:if="${allProducts.number} == ${page - 3} and ${page} != ${allProducts.getTotalPages()-1}">...</a>-->
    <!--                </li>-->

    <!--                <li class="page-item " th:style="${allProducts.last ? 'display: none' : ''}" >-->
    <!--                    <a class="page-link"-->
    <!--                       th:attr="hx-get=@{'products'(sort=${sortName}, page=${allProducts.number + 1})}"-->
    <!--                       hx-target="#allgoods"-->
    <!--                       hx-swap = "innerHTML"-->
    <!--                       hx-trigger="click">></a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </nav>-->
    <!--    </div>-->

</div>
<!--<script src="/js/script.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->