<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>LitumDesign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" data-th-href="@{/style.css}">
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
</head>
<body >
<header>
    <nav class="navbar headerup navbar-expand-lg border-bottom">
        <div class="container-fluid px-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link active logoSmall d-lg-none " aria-current="page" href="/">
                <img data-th-src="@{/image/logo-LitumDesign.svg}" alt="LitumDesign">
            </a>
            <div class="collapse linkborder navbar-collapse " id="navbarNav">
                <hr>
                <ul class="navbar-nav links-nav">
                    <li class="nav-item">
                        <a class="nav-link active pagelink " aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active pagelink" aria-current="page" th:href="@{/news}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active pagelink" aria-current="page" th:href="@{/serverlist}">Server List</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse socialborder  navbar-collapse " id="navbarNav">
            <ul class="navbar-nav social-nav ">
                <li class="nav-item">
                    <a class="nav-link active social " aria-current="page" href="https://discord.gg/bqCdbPtkuW">
                        <img data-th-src="@{/image/icon-discord.svg}">
                    </a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link active social" aria-current="page" href="#"> <img-->
                <!--                            data-th-src="@{/image/icon-instagram.svg}"></a>-->
                <!--                    </a>-->
                <!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link active social" aria-current="page" href="https://t.me/+jOrbY-Ab4L84MDYy"><img
                            data-th-src="@{/image/icon-telegram.svg}"></a>
                </li>
            </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
    </nav>


    <nav class="navbar headerdown navbar-expand-lg border-bottom">
        <div class="container-fluid px-0">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav game-nav">
                    <li class="nav-item">
                        <a class="nav-link active logoBig " aria-current="page" href="/"><img
                                data-th-src="@{/image/logo-LitumDesign.svg}" alt="LitumDesign"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active rust " aria-current="page" href="/rust">Rust</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active unturned " aria-current="page" href="/unturned">Unturned</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav login-nav">
                <li class="nav-item">
                    <a class="nav-link active submitfile text-white" aria-current="page"
                       sec:authorize="hasAnyRole('ADMIN', 'VENDOR')" th:href="@{/file/addfile}">Submit
                        a file</a>
                </li>
<!--                                <li class="nav-item">-->
<!--                                    <form class="d-flex " role="search">-->
<!--                                        <input class="form-control form-control-no-clear searchfar" type="search" placeholder="Find..."-->
<!--                                               aria-label="Search" onkeypress="handleKeyPress(event)">-->
<!--                                        <button class="btn find" type="submit">-->
<!--                                            <img data-th-src="@{/image/logo-find.svg}" alt="Find Button">-->
<!--                                        </button>-->
<!--                                    </form>-->
<!--                                </li>-->
                <li class="nav-item search-nav">
                    <div class="d-flex " role="search">
                        <input class="form-control form-control-no-clear searchfar" type="search" placeholder="Find..."
                               aria-label="Search"
                               name="searchquery"
                               hx-get="/file/search"
                               hx-trigger="keyup[key=='Enter']"
                               hx-target="#searchresult"><img  class="htmx-indicator" src="/image/spinner-loading.svg">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active user-login " aria-current="page" th:href="@{/login}"
                       data-sec-authorize="!isAuthenticated()">
                        Log-in
                        <!--                        <img  data-th-src="@{/image/logo-log-in.svg}" alt="Icon login">-->
                    </a>

                <li class="nav-item">
                    <div class="dropdown" data-sec-authorize="isAuthenticated()">
                        <button class="nav-link active usericon" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <img data-sec-authorize="isAuthenticated()" data-th-src="@{/image/icon-user.svg}"
                                 alt="Icon User">
                        </button>
                        <ul class="dropdown-menu usericon-dropdown_menu">
                            <li>
                                <a class="dropdown-item " sec:authorize="hasRole('ADMIN')" th:href="@{/news/submitnews}">
                                    Submit News
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item " th:href="@{/logout}">
                                    <img data-th-src="@{/image/logout-icon.svg}"> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                    </a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link active like " data-sec-authorize="isAuthenticated()" aria-current="page"
                       href="#">
                        <img data-th-src="@{/image/icon-like.svg}" alt="Icon like">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script src="../../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
</html>
