<div class="all-images-for-product" id="all-images-for-product">
    <div class="images-for-product" th:each="photolink : ${actualProductEntity.getPhotoLink()}">
        <i class="fa-regular fa-trash-can" style="color: #ffffff;"
           hx-post="/file/delete-image"
           hx-trigger="click"
           hx-swap="outerHTML"
           hx-target="#all-images-for-product"
        ></i>
        <img class="htmx-indicator" src="/image/spinner-loading.svg"/>
        <img th:src="'https://drive.google.com/thumbnail?authuser=0&sz=w200&id='+${photolink.getPhotoLink()}" alt="image for product">
    </div>
</div>
