<div class="all-images-for-product" id="all-images-for-product">
    <div class="images-for-product" th:each="photolink : ${actualProductEntity.getPhotoLink()}">
        <i class="fa-regular fa-trash-can delete-img-button"
           hx-delete="/file/delete-image"
           hx-trigger="click"
           hx-swap="outerHTML"
           hx-target="#all-images-for-product"
           th:attr="hx-vals='{&quot;photoId&quot;: &quot;'+${photolink.getId()}+'&quot;, &quot;productId&quot;: &quot;'+${actualProductEntity.getId()}+'&quot;}'"
        ><img class="htmx-indicator" src="/image/spinner-loading.svg"/></i>
        <img class="particular-images-for-product"
             th:src="'https://drive.google.com/uc?id=' + ${photolink.getPhotoLink()} + '&timestamp=' + ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}" th:alt="${actualProductEntity.getGameType()} + ${actualProductEntity.getTitle()} + ${actualProductEntity.getCategories()}"
             th:title="${actualProductEntity.getTitle()}"
             decoding="async"
             th:href="'https://drive.google.com/uc?id='+${photolink.getPhotoLink()}"
             th:attr="srcset='https://drive.google.com/thumbnail?authuser=0&amp;sz=w640&amp;id=' + ${photolink.getPhotoLink()} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 640w, ' +
                                            'https://drive.google.com/thumbnail?authuser=0&amp;sz=w720&amp;id=' + ${photolink.getPhotoLink()} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 720w'"
             sizes="(max-width: 600px) 640px, 720px"/>
    </div>

    <div th:if="${message}" th:insert="~{fragments/toasts/success :: firstDiv}"></div>
    <div th:if="${error}" th:insert="~{fragments/toasts/error :: firstDiv}"></div>
</div>
