<div class="all-images-for-product" id="all-images-for-product">
    <div class="images-for-product" th:each="photolink : ${actualProductEntity.getPhotoLink()}">
        <i class="fa-regular fa-trash-can delete-img-button"
           hx-delete="/file/delete-image"
           hx-trigger="click"
           hx-swap="outerHTML"
           hx-target="#all-images-for-product"
           th:attr="hx-vals='{&quot;photoId&quot;: &quot;'+${photolink.getId()}+'&quot;, &quot;productId&quot;: &quot;'+${actualProductEntity.getId()}+'&quot;}'"
        ><img class="htmx-indicator" src="/image/spinner-loading.svg"/></i>
        <img class="particular-images-for-product" th:src="'https://drive.google.com/thumbnail?authuser=0&sz=w320&id=' + ${photolink.getPhotoLink()} + '&timestamp=' + ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}" alt="image for product">
    </div>

    <div th:if="${message}" th:insert="~{fragments/toasts/success :: firstDiv}"></div>
    <div th:if="${error}" th:insert="~{fragments/toasts/error :: firstDiv}"></div>
</div>
