<div class="row  row-cols-2   row-cols-lg-5  row-cols-md-4   py-0 " th:fragment="firstDiv"
     th:with="productList=${products}">
    <div class="col " th:each="product : ${productList}">
        <a th:href="@{'/product/details/' + ${product.id}}">
            <div class="card  h-100 ">
                <p class="card-count-of-downloads"
                   th:utext="'<i class=\'fa-regular fa-circle-down\'></i>' + ${product.countOfDownloads} + ' ' + '<i class=\'fa-regular fa-eye\'></i>' + ${product.countOfView}"></p>
                <img th:src="'https://drive.google.com/uc?id='+${product.titleImageLink} + '&timestamp=' + ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"
                     class="card-img-top" th:alt="${product.getGameType()} + ${product.getTitle()} + ${product.getCategories()}"
                     th:title="${product.getTitle()}"
                     decoding="async"
                     th:href="'https://drive.google.com/uc?id='+${product.titleImageLink}"
                     th:attr="srcset='https://drive.google.com/thumbnail?authuser=0&amp;sz=w640&amp;id=' + ${product.titleImageLink} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 640w, ' +
            'https://drive.google.com/thumbnail?authuser=0&amp;sz=w720&amp;id=' + ${product.titleImageLink} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 720w'"
                     sizes="(max-width: 600px) 640px, 720px"/>
                <div class="card-body ">
                    <h5 class="card-title text-truncate" th:text="${product.title}">></h5>
                    <p class="card-game-type text-truncate "
                       th:text="${product.gameType} + ' | ' + ${product.categories}"></p>
                    <p class="card-by text-truncate">By: <a th:href="@{/vendor-page/{vendorName}(vendorName=${product.uploadUserId.name})}" class="vendorname"
                                                            th:text="${product.uploadUserId.name}"></a></p>
                    <div class="container buypanel d-flex justify-content-between align-items-center ">
                        <div class="text-price">
                            <span th:if="${product.price == 0}">FREE</span>
                            <span th:if="${product.price != 0}" th:text="'$' + ${product.price}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
