


<section class="news-section" th:fragment="firstDiv">



  <th:block th:each="news, number : ${allNews}">

    <a class="card newscontainer mb-5" id="newscontainer" data-bs-toggle="modal" th:data-bs-target="'#newsModal' + ${news.getId} "
    th:hx-get="@{/news/getparticularnews(newsId=${news.getId()})}" hx-target="#newscontainer" hx-swap="outerHTML"
    >
      <img class="htmx-indicator" src="/image/spinner-loading.svg">

      <p class="news-about" th:text="${news.getAbout()}"  ></p>
      <img data-th-src="@{${news.getPhotoLink()}}" class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-text card-title-news  text-truncate" th:text="${news.getTitle()}"></h5>
        <p class="card-text short-text-news text-truncate" th:text="${news.shortText}"></p>
        <p class="card-text ">
        <div class="d-flex justify-content-between">
          <p class=""><small class="text-white" th:text="'by: ' + ${news.getAuthor()}"></small></p>
          <p class=""><small class="text-white" ><button class="read-more-button">Read more....</button></small></p>
          <p class=""><small class="text-white" th:text="${news.getCreatedAt().toLocalDate()}"></small></p>
        </div>
      </div>
    </a>
    <!-- DIVIDE LINE -->
    <div class="container dividingline ">
    </div>

  </th:block>
  <!--    THE END-->
  <div class="container text-center" >
    <div>
      <p th:text="${end}"></p>
    </div>
  </div>
</section>

<div class="card" id="replaceNews">
  <div th:hx-get="${link}"
           hx-trigger="revealed"
           hx-swap="outerHTML"
           hx-target="#replaceNews"><img class="htmx-indicator" src="/image/spinner-loading.svg">
  </div>
</div>
