<body id="searchresult">



<!--HEADER-->
<div th:insert="~{fragments/headerfragment :: header}"></div>

<div style="border: 3px solid #d04f3b;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1150px; /* Максимальная ширина */
    margin: 0 auto;
    text-align: center;
margin-top: 25px">
    <div style="color: #d04f3b; font-size: 22px;"> !!! The website is still a work in progress, things might not
        render
        correctly or not work, so please bear with me.
    </div>
</div>


<!--<div class="d-flex " role="search">-->
<!--    <input class="form-control form-control-no-clear searchfar" type="search" placeholder="Find..."-->
<!--           aria-label="Search"-->
<!--           name="searchquery"-->
<!--           hx-get="/file/search"-->
<!--           hx-trigger="keyup[key=='Enter']"-->
<!--           hx-target="#searchresult"-->
<!--    >-->
<!--</div>-->


<!-- Search result: -->
<div class="container searchresul ">
    <p class="searchresulttitle ">Search result: </p>
</div>

<div th:with="resultProducts=${resultProducts}">

    <div th:if="${resultProducts.isEmpty()}">
        <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">Your search did not return any results =(</div>
    </div>
    <div th:unless="${resultProducts.isEmpty()}">
        <!--    PAGINATION    -->
        <div class="container containerpagination text-black ">
            <nav aria-label="Page navigation example">
                <ul class="pagination  pagination-sm justify-content-center ">

                    <li class="page-item asdasd" th:style="${resultProducts.first ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${resultProducts.number - 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"><</a>
                    </li>


                    <li class="page-item" th:each="page: ${#numbers.sequence(0, resultProducts.getTotalPages()-1)}"
                        th:if="${resultProducts.number} >= ${page - 3} and ${resultProducts.number} <= ${page + 3} or ${page} == ${resultProducts.getTotalPages()-1} or ${page} == 0"
                        th:classappend="${page} == ${resultProducts.number} ? 'active'">
                        <a class="page-link"
                           th:if="${resultProducts.number} == ${page + 3} and ${page != 0}">...</a>
                        <a class="page-link"
                           th:if="${resultProducts.number} > ${page - 3} and ${resultProducts.number} < ${page + 3} or ${page} == ${resultProducts.getTotalPages()-1} or ${page} == 0"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${page})}" th:text="${page+1}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"
                        >1</a>
                        <a class="page-link"
                           th:if="${resultProducts.number} == ${page - 3} and ${page} != ${resultProducts.getTotalPages()-1}">...</a>
                    </li>

                    <li class="page-item " th:style="${resultProducts.last ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${resultProducts.number + 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click">></a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- ALL GOODS -->
        <div class="row  row-cols-2   row-cols-lg-5  row-cols-md-4   py-0 ">
            <div class="col " th:each="product : ${resultProducts}">
                <a th:href="@{'/product/details/' + ${product.id}}">
                <div class="card  h-100 ">
                    <p class="card-count-of-downloads" th:utext="'<i class=\'fa-regular fa-circle-down\'></i>' + ${product.countOfDownloads} + ' ' +'<i class=\'fa-regular fa-eye\'></i>' + ${product.countOfView}"></p>
                    <img data-th-src="@{${product.titleImageLink}}" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-truncate " th:text="${product.title}"></h5>
                        <p class="card-game-type text-truncate "
                           th:text="${product.gameType} + ' | ' + ${product.categories}"></p>
                        <p class="card-by text-truncate">By: <a th:href="@{/vendor-page/{vendorName}(vendorName=${product.uploadUserId.name})}" class="vendorname"
                                                                th:text="${product.uploadUserId.name}"></a></p>
                        <div class="container buypanel d-flex justify-content-between align-items-center ">
                            <div class="text-price">
                                <span th:if="${product.price == 0}">FREE</span>
                                <span th:if="${product.price != 0}" th:text="'$' + ${product.price}"></span>
                            </div>
<!--                            <a class="btn buybutton " aria-current="page" data-sec-authorize="isAuthenticated()"-->
<!--                               th:href="@{'/file/download-file/' + ${product.id}}"> <img-->
<!--                                    data-th-src="@{/image/img-download.svg}"></a>-->
<!--                            <a class="btn buybutton " aria-current="page" data-sec-authorize="!isAuthenticated()"-->
<!--                               th:href="@{/login}"> <img data-th-src="@{/image/img-download.svg}"></a>-->
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <!--    PAGINATION-->
        <div class="container containerpagination text-black ">
            <nav aria-label="Page navigation example">
                <ul class="pagination  pagination-sm justify-content-center ">

                    <li class="page-item asdasd" th:style="${resultProducts.first ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${resultProducts.number - 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"><</a>
                    </li>


                    <li class="page-item" th:each="page: ${#numbers.sequence(0, resultProducts.getTotalPages()-1)}"
                        th:if="${resultProducts.number} >= ${page - 3} and ${resultProducts.number} <= ${page + 3} or ${page} == ${resultProducts.getTotalPages()-1} or ${page} == 0"
                        th:classappend="${page} == ${resultProducts.number} ? 'active'">
                        <a class="page-link"
                           th:if="${resultProducts.number} == ${page + 3} and ${page != 0}">...</a>
                        <a class="page-link"
                           th:if="${resultProducts.number} > ${page - 3} and ${resultProducts.number} < ${page + 3} or ${page} == ${resultProducts.getTotalPages()-1} or ${page} == 0"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${page})}" th:text="${page+1}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click"
                        >1</a>
                        <a class="page-link"
                           th:if="${resultProducts.number} == ${page - 3} and ${page} != ${resultProducts.getTotalPages()-1}">...</a>
                    </li>

                    <li class="page-item " th:style="${resultProducts.last ? 'display: none' : ''}">
                        <a class="page-link"
                           th:attr="hx-get=@{'products'(sort=${sortName}, page=${resultProducts.number + 1})}"
                           hx-target="#allgoods"
                           hx-swap="innerHTML"
                           hx-trigger="click">></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>

<!-- MOST POPULAR -->
<div class="container mostpopular ">
    <p class="mostpopulartitle ">Most popular</p>
</div>

<!-- MOST POPULAR CARDS-->
<div th:insert="~{fragments/mostpopularfragment :: firstDiv}"></div>

<!-- Cookie Banner -->
<div th:insert="~{fragments/cookiefragment :: firstDiv}"></div>
<!-- End of Cookie Banner -->

<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>

<div th:insert="~{fragments/footerfragment :: footer}"></div>

</body>
<!--</html>-->