<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitumDesign</title>
    <link rel="icon" th:href="@{/image/logo-LitumDesign.svg}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="https://unpkg.com/htmx.org@1.9.5"integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
</head>
<body>


<!--HEADER-->
<div th:insert="~{fragments/header :: header}"></div>


<!-- CARUSEL BIG SLIDE  -->

<div th:insert="~{fragments/carouselbigslide :: firstDiv}"></div>


<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>


<!-- MOST POPULAR -->
<div class="container mostpopular ">
    <p class="mostpopulartitle ">Most popular</p>
</div>




<!-- MOST POPULAR CARDS-->
<div th:insert="~{fragments/mostpopularfragment :: firstDiv}"></div>



<div class="container ">
    <a class="showmorebutton text-dark "  href="#">Show more</a>
</div>

<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>


<!-- NEW ARRIVAL -->
<div class="container mostpopular ">
    <p class="mostpopulartitle ">New arrival</p>
</div>


<!-- MOST POPULAR CARDS-->
<div th:insert="~{fragments/newestfragment :: firstDiv}"></div>



<div class="container ">
    <a class="showmorebutton text-dark "  href="#">Show more</a>
</div>

<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>

<!-- PAGINATION -->
<!--ALL GOODS -->

<div th:insert="~{fragments/allproductsfragment :: firstDiv}"></div>


<!--<div class="container containerpagination text-black ">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination  pagination-sm justify-content-center ">-->
<!--            <li class="page-item" th:classappend="${doctors.isFirst() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.number - 1})}">-->
<!--                    Попередня</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.isFirst() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}( sort=${sortName}, page=0)}">-->
<!--                    <<<</a>-->
<!--            </li>-->
<!--            <li th:each="pageNumber : ${#numbers.sequence(0, doctors.getTotalPages()-1)}"-->
<!--                th:classappend="${doctors.number == pageNumber ? 'active' : ''}" class="page-item">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${pageNumber})}"-->
<!--                   th:text="${pageNumber + 1}">1</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.last ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.getTotalPages()-1})}">>>></a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.last ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.number + 1})}">Наступна</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->


<!--<div>-->
<!--    <nav>-->
<!--        <ul class="pagination  pagination-sm justify-content-center ">-->
<!--            <li class="page-item" th:classappend="${doctors.isFirst() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.number - 1})}">-->
<!--                    Попередня</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.isFirst() ? 'disabled' : ''}">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}( sort=${sortName}, page=0)}">-->
<!--                    <<<</a>-->
<!--            </li>-->
<!--            <li th:each="pageNumber : ${#numbers.sequence(0, doctors.getTotalPages()-1)}"-->
<!--                th:classappend="${doctors.number == pageNumber ? 'active' : ''}" class="page-item">-->
<!--                <a class="page-link"-->
<!--                   th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${pageNumber})}"-->
<!--                   th:text="${pageNumber + 1}">1</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.last ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.getTotalPages()-1})}">>>></a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${doctors.last ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${doctors.number + 1})}">Наступна</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->



<!--&lt;!&ndash; ALL GOODS &ndash;&gt;-->
<!--<div class="row  row-cols-2  row-cols-sm-3 row-cols-lg-5  row-cols-md-4   py-0 ">-->
<!--    <div class="col ">-->
<!--        <div class="card  h-100 ">-->
<!--            <img data-th-src="@{/image/imagecard.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col ">-->
<!--        <div class="card h-100 ">-->
<!--            <img data-th-src="@{/image/5e3bd17765e820213981ad5d80fbce34_L.jpg}" class="card-img-top" alt="...">-->
<!--            <div class="card-body ">-->
<!--                <h5 class="card-title text-truncate">Card title</h5>-->
<!--                <p class="card-by text-truncate">By: <a href="#" class="vendorname">1123ssas2</a></p>-->
<!--                <div class="container buypanel d-flex justify-content-between align-items-center ">-->
<!--                    <div class="text-price ">$34.00</div>-->
<!--                    <a class="btn  buybutton "  aria-current="page" href="#"><img data-th-src="@{/image/img-download.svg}"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; PAGINATION &ndash;&gt;-->
<!--<div class="container containerpagination text-black ">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination ">-->
<!--            <li class="page-item ">-->
<!--                <a class="page-link" href="#" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#" aria-label="Next">-->
<!--                    <span aria-hidden="true">&raquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->


<!-- DIVIDE LINE -->
<div class="container dividingline ">
</div>

<!-- Footer -->
<footer class="text-center text-lg-center text-muted ">
    <section class="">
        <div class="container text-center text-md-start mt-5 ">
            <!-- Grid row -->
            <div class="row mt-3 ">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-5 mx-auto mb-4 ">
                    <!-- Content -->
                    <h6 class="text text-start text-black  mb-4 ">
                        <i class="fas fa-gem "></i>About us
                    </h6>
                    <p class="aboutustext">
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                        .
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
                    <!-- Links -->
                    <h6 class="text text-black fw-bold mb-4 ">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-socialfooter"><img data-th-src="@{/image/discord-footer.svg}"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-socialfooter"><img data-th-src="@{/image/telegram-footer.svg}"></a>
                    </p>
                    <p>
                        <a href="#!" class="text-socialfooter"><img data-th-src="@{/image/instagram-footer.svg}"></a>
                    </p>
                </div>
                <!-- Grid column -->



                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3  mb-md-0 mb-4 ">
                    <!-- Links -->
                    <h6 class="text text-black fw-bold mb-4">Information page</h6>
                    <p><i class="fas fa-home me-3"></i>Privacy Policy</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Policies
                    </p>
                    <p><i class="fas fa-phone me-3"></i>Cookies</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 creator:
        <a class="text-reset fw-bold" href="https://litumdesign.com/">LitumDesign</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<script src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>