<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PB08DZRH5C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-PB08DZRH5C');

    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-LitumDesign</title>
    <meta name="description" content="Explore detailed information about our product, including Plugins, Maps, Prefabs, Monuments, Tools, and Mods tailored for Rust and Unturned games at LitumDesign. Download for free or buy premium content.">
    <link rel="icon" th:href="@{/image/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/product-details.css}">
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b343836130.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <!-- Owl Carousel CSS -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <!-- Cookie Banner -->
    <link rel="stylesheet" th:href="@{/cookie-banner.css}">
</head>


<body id="searchresult" th:attr="hx-headers='{&quot;'+${_csrf.getHeaderName()}+'&quot;: &quot;'+${_csrf.getToken()}+'&quot;}'">


<!--HEADER-->
<div th:insert="~{fragments/headerfragment :: header}"></div>


<div style="border: 3px solid #d04f3b;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1150px; /* Максимальная ширина */
    margin: 0 auto;
    text-align: center;
margin-top: 25px">
    <div style="color: #d04f3b; font-size: 22px;"> !!! The website is still a work in progress, things might not render
        correctly or not work, so please bear with me.
    </div>
</div>

<div class="container container-carousel">
    <div class="carousel-wrap">
        <div class="owl-carousel owl-theme">
            <div class="ratio ratio-4x3" th:if="${!productdetails.videoLink.isBlank()}">
                <iframe width="560" height="315" th:src="${productdetails.getVideoLink()}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
            <div class="item" th:each="detailsphotos : ${productdetails.photoLink}">
                <img th:src="'https://drive.google.com/uc?id='+${detailsphotos.getPhotoLink()} + '&timestamp=' + ${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}" th:alt="${productdetails.getGameType()} + ${productdetails.getTitle()} + ${productdetails.getCategories()}"
                     th:title="${productdetails.getTitle()}"
                     decoding="async"
                     th:href="'https://drive.google.com/uc?id='+${detailsphotos.getPhotoLink()}"
                     th:attr="srcset='https://drive.google.com/thumbnail?authuser=0&amp;sz=w640&amp;id=' + ${detailsphotos.getPhotoLink()} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 640w, ' +
                                'https://drive.google.com/thumbnail?authuser=0&amp;sz=w720&amp;id=' + ${detailsphotos.getPhotoLink()} + '&timestamp=' +  ${#dates.format(#dates.createNow(),'YYYY/MM/dd' + 'HH:mm')} + ' 720w'"
                     sizes="(max-width: 600px) 640px, 720px"/>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container product-header">
        <div class="product-header-title">
            <h2 class="text-break" th:text="${productdetails.getTitle()}"></h2>
        </div>
        <!--        <div>downloads/views/size/date</div>-->
        <a class="product-details-count-downloads">
            <i class="fa-regular fa-circle-down"></i> <span th:text="${productdetails.getCountOfDownloads()}"></span>
        </a>
        <a>|</a>
        <a class="product-details-count-views">
            <i class="fa-regular fa-eye"></i> <span th:text="${productdetails.getCountOfView()}"></span>
        </a>
        <a>|</a>
        <a class="product-details-data"
           th:text="${#temporals.format(productdetails.getCreatedAt(), 'dd-MMM-yyyy')}"></a>
        <div class="product-header-category-info">
            <div>
                <a href="#" th:text="${productdetails.getGameType()}"></a><a>&nbsp;|&nbsp;</a><a href="#" th:text="${productdetails.getCategories()}"></a>
                <div class="product-header-author ">
                    <p class="card-by text-truncate">By: <a th:href="@{/vendor-page/{vendorName}(vendorName=${productdetails.uploadUserId.getName()})}" class="vendorname"
                                                            th:text="${productdetails.uploadUserId.getName()}"></a></p>
                </div>
                <div class="product-header-price ">
                    <h2 th:if="${productdetails.getPrice() == 0}">FREE</h2>
                    <h2 th:if="${productdetails.getPrice() != 0}" th:text="'$' + ${productdetails.getPrice()}"></h2>
                </div>
            </div>
            <div>
<!--                <div>-->
<!--                    <h2 th:if="${productdetails.getPrice() == 0}">FREE</h2>-->
<!--                    <h2 th:if="${productdetails.getPrice() != 0}" th:text="'$' + ${productdetails.getPrice()}"></h2>-->
<!--                </div>-->
                <div class="product-header-downloadfile-container ">
                    <div class="product-header-bybutton ">
                        <a th:href="@{'/file/download-file/' + ${productdetails.getId()}}"><i class="fa-solid fa-cloud-arrow-down" style="color: #ffffff;"></i> &nbsp; Download</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-header-shortinfo">
            <p th:text="${productdetails.getShortInfo()}">
            </p>
        </div>
    </div>


    <!--    <div class="container main-product-navigation">-->
    <!--        <div class="d-flex flex-column flex-md-row">-->
    <!--            <img class="htmx-indicator" src="/image/spinner-loading.svg">-->
    <!--            <a hx-get="/product/description"-->
    <!--                 hx-trigger="click"-->
    <!--                 hx-swap="innerHTML"-->
    <!--                 hx-target="#product-info">Description-->
    <!--            </a>-->
    <!--            <a href="">License</a>-->
    <!--            <a href="">Updates</a>-->
    <!--            <a href="">Comments</a>-->
    <!--            <a href="">Support</a>-->
    <!--        </div>-->
    <!--    </div>-->


    <p>
    <div class="container main-product-navigation">
        <div class="d-flex flex-column flex-md-row">
            <a data-bs-toggle="collapse" href="#Description" role="button"
               aria-expanded="true">
                Description
            </a>
            <a data-bs-toggle="collapse" href="#License" role="button"
               aria-expanded="false">
                License
            </a>
            <a data-bs-toggle="collapse" href="#Version" role="button"
               aria-expanded="false">
                Version
            </a>
            <a data-bs-toggle="collapse" href="#Updates" role="button"
               aria-expanded="false">
                Updates
            </a>
            <a data-bs-toggle="collapse" href="#Comments" role="button"
               aria-expanded="false">
                Comments
            </a>
        </div>
    </div>
    </p>

    <!-- DIVIDE LINE -->
    <div class="container dividingline ">
    </div>

    <div id="detailsGroup" class="details-container">
        <div class="collapse show" id="Description" data-bs-parent="#detailsGroup">
            <div class="product-details text-break active">
                <p class="" th:utext="${productdetails.getDescription()}"></p>
            </div>
        </div>
        <div class="collapse" id="License" data-bs-parent="#detailsGroup">
            <div class="card card-body">
                <p th:text="${productdetails.getLicense()}"></p>
            </div>
        </div>
        <div class="collapse" id="Updates" data-bs-parent="#detailsGroup">
            <div class="card card-body">
                in progress
            </div>
        </div>
        <div class="collapse" id="Comments" data-bs-parent="#detailsGroup">
            <div class="card card-body">
                in progress
            </div>
        </div>
        <div class="collapse" id="Version" data-bs-parent="#detailsGroup">
            <div class="card card-body">
                <div th:each="version : ${productdetails.getProductVersion()}">
                    <p th:text="'V.' + ${version.getVersion()} + ' ' + ${version.getVersionComment()}"></p>
                    <p class="version-date" th:text="${#temporals.format(version.getCreatedAt(), 'dd-MMM-yyyy')}"></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--    <div class="container main-product-description">-->

    <!--    </div>-->
</section>


<div id="product-info"></div>


<!-- Cookie Banner -->
<div th:insert="~{fragments/cookiefragment :: firstDiv}"></div>
<!-- End of Cookie Banner -->


<div th:insert="~{fragments/footerfragment :: footer}"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            margin: 10,
            video: true,
            nav: true,
            navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>
</html>