
<body id="indexbody">

<!--HEADER-->
<div th:insert="~{fragments/headerfragment :: header}"></div>

<div style="border: 3px solid #d04f3b;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 1150px; /* Максимальная ширина */
    margin: 0 auto;
    text-align: center;
margin-top: 25px">
    <div style="color: #d04f3b; font-size: 22px;"> !!! The website is still a work in progress, things might not render
        correctly or not work, so please bear with me.
    </div>
</div>

<div class="nav-item search-nav">
    <div class="d-flex " role="search">
        <input class="form-control form-control-no-clear searchfar" type="search" placeholder="Find..."
               aria-label="Search"
               name="searchquery"
               hx-get="/file/search"
               hx-trigger="keyup[key=='Enter']"
               hx-target="#indexbody"
        >
    </div>
</div>



<h1>SEARCH RESULT</h1>
</body>
