<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PB08DZRH5C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PB08DZRH5C');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update file - LitumDesign</title>
  <link rel="icon" th:href="@{/image/favicon.ico}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendorpanel.css}">
  <script src="https://unpkg.com/htmx.org@1.9.5"
          integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
          crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b343836130.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


  <!-- Main Quill library -->
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

  <!-- Core build with no theme, formatting, non-essential modules -->
  <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  <script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>


</head>


<body id="searchresult" th:attr="hx-headers='{&quot;'+${_csrf.getHeaderName()}+'&quot;: &quot;'+${_csrf.getToken()}+'&quot;}'">


<nav class="navbar vendor-navbar">
  <div class="container navbar-underline-border">
    <a th:href="@{/vendor/vendorpanel}" class="navbar-brand">Litum Vendor Panel</a>

    <div class="dropdown dropstart">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img data-th-src="@{/image/icon-user.svg}">
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item vendor-btns-underline" href="#">Profile</a></li>
        <li><a class="dropdown-item vendor-btns-underline" href="/">Close panel</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--hx-confirm="Are you sure you wish to add new item?"-->
<div>
  <form class="submitfileform"
        enctype="multipart/form-data"
        hx-encoding='multipart/form-data'
        hx-post="/file/update"
        hx-swap="outerHTML"
  >
    <div>
      <img class="htmx-indicator" src="/image/spinner-loading.svg"/>
    </div>
    <br>
    <br>
    <h2 class="text-center" th:text="'Update' + ' ' + ${actualProductEntity.getTitle()}">Submit a new file</h2>
    <br>
    <div class="form-floating mb-3 submitfile-row">
      <input type="text" name="title" class="form-control submitfile-title" id="title" placeholder="Title"
             th:value="${actualProductEntity.getTitle()}"  required>
      <label for="title" class="form-label">Title</label>
    </div>
    <div class="form-floating  mb-3 submitfile-row">
      <input type="text" name="price" class="form-control submitfile-price" id="price"
             placeholder="Price" value="0.0" disabled>
      <label for="price" class="form-label">Price</label>
    </div>

    <div class="form-floating mb-3 submitfile-row">
      <input type="url" name="titleImageLink" class="form-control submitfile-titleimage" id="titleimagelink"
             placeholder="Title Image (Link)" th:value="${actualProductEntity.getTitleImageLink()}" required>
      <label for="titleimagelink" class="form-label">Title Image (Link)</label>
    </div>
    <div class="submitfile-dropdownsbox">
      <div class="mb-3 ">
        <select class="submitfile-dropdowns" name="gameType" id="gameType"
                aria-label="Default select example" required>
          <option th:value="${actualProductEntity.getGameType()}" selected disabled th:text="${actualProductEntity.getGameType()}"></option>
          <option value="RUST">RUST</option>
          <option value="UNTURNED">UNTURNED</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="submitfile-dropdowns" name="categories" id="categories"
                aria-label="Default select example" required>
          <option th:value="${actualProductEntity.getCategories()}" selected disabled th:text="${actualProductEntity.getCategories()}"></option>
          <option value="MAP">MAP</option>
          <option value="PLUGIN">PLUGIN</option>
          <option value="PREFAB">PREFAB</option>
          <option value="MONUMENT">MONUMENT</option>
          <option value="TOOL">TOOL</option>
          <option value="MOD">MOD</option>
        </select>
      </div>
      <div class="mb-3">
        <select class="submitfile-dropdowns" name="access" id="access"
                aria-label="Default select example" required>
          <option th:value="${actualProductEntity.getAccess()}" selected disabled th:text="${actualProductEntity.getAccess()}"></option>
          <option value="PRIVATE">PRIVATE</option>
          <option value="PUBLIC">PUBLIC</option>
        </select>
      </div>
    </div>


    <div class="form-floating mb-3 submitfile-textaria">
            <textarea class="form-control submitfile-shortInfo" id="shortInfo" name="shortInfo" rows="3"
                      placeholder="Title Image (Link)" th:text="${actualProductEntity.getShortInfo()}" required></textarea>
      <label for="shortInfo" class="form-label ">Short Info</label>
    </div>
    <div class="mb-3 submitfile-description">
      <div id="quill_editor"></div>
      <input class="form-control " type="hidden" id="quill_html" name="description">
    </div>

    <div class="form-floating mb-3 submitfile-textaria">
            <textarea class="form-control submitfile-license" id="license" name="license" rows="3"
                      placeholder="License" th:text="${actualProductEntity.getLicense()}"></textarea>
      <label for="license" class="form-label ">License</label>
    </div>

    <div id="photolinks" >
<!--      <div class="form-floating mb-3  photo-link-row" th:each="photolink : ${actualProductEntity.getPhotoLink()}">-->
<!--        <input type="text" name="photoLink[]" class="form-control photo-link-input" id="floatingInput"-->
<!--               placeholder="Photo link" th:value="${photolink.getPhotoLink()}">-->
<!--        <label for="floatingInput">Photo (link)</label>-->
<!--      </div>-->
      <div class="form-floating mb-3 photo-link-row " th:each="photolink : ${actualProductEntity.getPhotoLink()}">
        <input type="url" name="photoLink[]" class="form-control photo-link-input" id="floatingInput" placeholder="Photo link" th:value="${photolink.getPhotoLink()}">
        <label for="floatingInput">Photo (link)</label>
        <button class="photo-link-close-button" hx-delete="/file/delete-photo-link-input" hx-target="closest div" hx-swap="outerHTML"><i class="fa-solid fa-x"></i></button>
      </div>
    </div>


    <button class="submitfile-one-more-link-button" hx-get="/file/add-photo-link-input"
            hx-swap="beforeend" hx-target="#photolinks" hx-trigger="click"> + Photo (link)
    </button>


    <div class="form-floating mb-3  video-link-row">
      <input type="url" name="videoLink" class="form-control submitfile-video-link" id="videoLink"
             placeholder="Video(link)" th:value="${actualProductEntity.getVideoLink()}">
      <label for="videoLink">Video(link)</label>
      <a type="button" class="video-add-instruction" data-bs-toggle="modal"
         data-bs-target="#embedInstructionModal">
        <i class="fa-solid fa-circle-info"></i>
      </a>
    </div>

<!--    VERSION-->
    <div class="form-floating mb-3 submitfile-row">
      <input type="text" name="version" class="form-control submitfile-version" id="version" placeholder="New version"
             th:value="${lastVersion}"  disabled>
      <label for="version" class="form-label">New version</label>
    </div>
    <!--    VERSION Comment-->
    <div class="form-floating mb-3 submitfile-row">
      <textarea type="text" name="versionComment" class="form-control submitfile-version-comment" id="versioncomment" placeholder="Version comment"></textarea>
      <label for="versioncomment" class="form-label">Version comment</label>
    </div>

    <div>
      <input type="hidden"  name="version" value="1">
      <input type="hidden"  name="productEntity" th:value="${actualProductEntity.getId()}">
    </div>

    <div class="submitfile-submit-button-container">
      <button type="submit" class="submitfile-submit-button">Update file </button>
    </div>


    <div class="modal fade" id="embedInstructionModal" tabindex="-1"
         aria-labelledby="embedInstructionModalModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl ">
        <div class="modal-content">
          <div class="modal-personal-body">
            <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            <img src="https://i.imgur.com/rNgPW4n.jpg"
                 class="img-modal">
          </div>
        </div>
      </div>
    </div>


    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var quill = new Quill('#quill_editor', {
        modules: {
          toolbar: [
            [{header: [1, 2, 3, 4, false]}],
            [{'font': []}, 'bold', 'italic', 'underline', {'color': []}, {'background': []}],
            [{'indent': '-1'}, {'indent': '+1'}],
            ['link', 'blockquote', 'code-block', 'image'],
            [{'script': 'sub'}, {'script': 'super'}],
            [{'indent': '-1'}, {'indent': '+1'}],
            [{'list': 'ordered'}, {'list': 'bullet'}]
          ]
        },
        placeholder: 'Main description (max photo 1920-1080)',
        theme: 'snow'  // or 'bubble'
      });
      quill.on('text-change', function (delta, oldDelta, source) {
        document.getElementById("quill_html").value = quill.root.innerHTML;
      });

      // Получение HTML из серверной переменной через Thymeleaf
      var descriptionHTML = [[${actualProductEntity.getDescription()}]];

      // Установка HTML в редактор Quill
      quill.clipboard.dangerouslyPasteHTML(descriptionHTML);
      /*]]>*/
    </script>
  </form>
</div>


<div th:insert="~{fragments/footerfragment :: footer}"></div>


<script src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>